<%= form_for(@song) do |f| %>
  <label>name:</label><br>
  <%= f.text_field :name %><br>
  
  <label>artist id:</label><br>
  <%= f.text_field :artist_id %><br>
  
  <label>genre id:</label>
  
  <%= f.submit %>
<% end %>